[Unit]
Description=webserver
After=network.target nss-lookup.target

[Service]
ExecStart=/usr/bin/webserver
Restart=on-failure
WorkingDirectory=/var/srv/www/mutex.es
DynamicUser=yes
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target

