[Unit]
Description=OpenDMARC Milter
Documentation=man:opendmarc(8) man:opendmarc.conf(5)
After=network.target nss-lookup.target

[Service]
UMask=0007
ExecStart=/usr/sbin/opendmarc -f -c /etc/opendmarc/opendmarc.conf
Restart=on-failure
ExecReload=/bin/kill -USR1 $MAINPID
Group=mail

DynamicUser=yes
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target

